
body {
  align-items: center;
  display: flex;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  background: #222;
}
body,
html {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
canvas { 
  display: inline-block; /* Instead of display: block; */
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  touch-action: none;
  vertical-align: middle;

  height: auto !important;
  width: auto !important;
}